<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    #Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
    #Header always set Access-Control-Allow-Headers "append,delete,entries,foreach,get,has,keys,set,values,Authorization"
</IfModule>

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^georgiacaring.com
    RewriteRule (.*) http://www.georgiacaring.com/$1 [R=301,L]

    RewriteRule ^author/(.*)$ /authors/$1 [R=302,L]
    RewriteRule ^author/$ /authors/ [R=302,L]

	RewriteCond %{REQUEST_URI} !\?
    RewriteCond %{REQUEST_URI} !\&
    RewriteCond %{REQUEST_URI} !\=
    RewriteCond %{REQUEST_URI} !\.
    RewriteCond %{REQUEST_URI} !\/$
    RewriteRule ^(.*[^\/])$ /$1/ [R=301,L]

#    RewriteCond %{HTTP_HOST} ^192.186.234.35
#    RewriteCond %{HTTP_USER_AGENT} libwww-perl.*
#    RewriteRule .* ? [F,L]
#    RewriteRule (.*) http://www.codentheme.com/$1 [R=301,L]
    RewriteCond %{REQUEST_URI} ^/.*
    RewriteRule ^(.+)?$ frontend/web/$1
</IfModule>

