<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    #Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
    #Header always set Access-Control-Allow-Headers "append,delete,entries,foreach,get,has,keys,set,values,Authorization"
</IfModule>

<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	IndexIgnore */*
	RewriteEngine On RewriteBase /
	#RewriteCond %{HTTPS} off
	#RewriteCond %{HTTP:X-Forwarded-Proto} !https
	#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

   	#RewriteCond %{HTTP_HOST} !^www\. [NC]
   	#RewriteRule (.*) https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	RewriteCond %{REQUEST_URI} ^/.*
	RewriteRule ^(.+)?$ frontend/web/$1
</IfModule>

