.category {
    padding: 120px 0;
}
.category-card {
    height: 500px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.category-card__adress {
    position: relative;
    font-family: 'AirbnbCereal-Light';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.005em;
    color: #5A5A5A;
}

.category-card__adress>span {
    margin-left: 30px;
}

.category-card__adress:before {
    content: url("./img/category-page-pin.png");
    margin-top: 2px;
    display: block;
    position: absolute;
}

.category-card__divider {
    height: 1px;
    background-color: #C7C7C7;
}

.category-card__footer>div:first-child {
    font-family: 'AirbnbCereal-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.005em;
}

.category-card__footer>div:last-child {
    font-family: 'AirbnbCereal-Medium';
    font-weight: 500;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: #000000;
}

.category-card__rating-box {
    width: 48px;
    height: 24px;
    box-shadow: 0px 1px 7px rgba(66, 96, 123, 0.16);
    border-radius: 132.26px;
    font-size: 13px;
    line-height: 17px;
}

.category-article {
    background: linear-gradient(180deg, #E1F3FF 7.86%, rgba(216, 206, 255, 0.3) 109.88%);
}

.category-article__textbox {
    max-width: 990px;
}

.category-article__subtitle {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.005em;
}

.filter-box {
    background: #F8F8F8;
    border-radius: 10px;
}

.filter-box__btn {
    height: 45px;
    background: #FFFFFF;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    font-family: 'AirbnbCereal-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #5C5E60;
    cursor: pointer;
}

.filter-box__btn--active {
    color: var(--bs-brand)
}

.filter-box__reset-btn {
    width: 100%;
    max-width: 160px;
    height: 60px;
    border: 1.5px solid #959595;
    border-radius: 8px;
    background-color: transparent;
    font-family: 'AirbnbCereal-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.filter-box__title {
    font-family: 'AirbnbCereal-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.005em;
    color: #000000;
}

.category-card__title {
    font-size: 28px;
    line-height: 37px;
    letter-spacing: -0.005em;
}

.filter-btn {
    width: 100%;
    max-width: 320px;
    height: 45px;
    border: 1px solid #A2A2A2;
    border-radius: 6px;
    cursor: pointer;
}

.filter-btn>img {
    transform: rotate(-90deg);
}

.category-card__avalible-btn {
    width: 100%;
    max-width: 100px;
    height: 23px;
    border: 0.38px solid #C8C8C8;
    border-radius: 3px;
    font-family: 'AirbnbCereal-Medium';
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.005em;
    color: #6D459C;
}

.filter-box__select,
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    display: flex;
    align-items: center;
    width: 245px;
    height: 45px;
    background: #FFFFFF;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.filter-option-inner-inner {
    font-family: 'AirbnbCereal-Medium';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.005em;
    color: #000000;
}

.dropdown-toggle::after {
    border: none !important;
    content: url("../shared/images/select-icon.png");
}

.bootstrap-select>.dropdown-toggle {
    background-color: #fff;
    border-color: #fff;
}

.bootstrap-select>.dropdown-toggle:after {
    transform: translateY(5px);
}

.category__filter-adaptive-menu--active {
    display: block !important;
}

@media screen and (max-width: 1200px) {
    .category-article__list {
        padding-left: 0 !important;
    }
    .category {
        padding: 50px 0;
    }
    .category-card {
        height: 100%;
    }
}

@media screen and (max-width: 575px) {
    .category-card__title {
        font-size: 21px;
        line-height: 28px;
        letter-spacing: -0.005em;
    }
    .category-card__footer>div:last-child {
        font-size: 17px;
        line-height: 23px;
        letter-spacing: -0.01em;
    }
    .category-card__footer>div:first-child {
        font-size: 13.8241px;
        line-height: 18px;
        letter-spacing: -0.005em;
    }
    .category-card__adress {
        font-size: 11px;
        line-height: 18px;
    }
}