section.authors {padding-top: 210px; padding-bottom: 60px; background: linear-gradient(180deg, #E1F3FF 7.86%, rgba(216, 206, 255, 0.3) 109.88%);}
section.authors .box {font-family: 'Airbnb Cereal App'; font-weight: 300; background-color: #fff; border: 1px solid #D9DBDF; box-shadow: 0 0 24px rgba(23, 37, 57, 0.06); border-radius: 20px; padding: 30px; height: 100%;}
section.authors .box .photo {margin-bottom: 20px; border-radius: 50%; width: 140px; height: 140px; border: 3px solid #fff; box-shadow: 0 0 20px rgba(15, 27, 58, 0.08);}
section.authors .box .name {font-weight: 700; font-size: 30px; line-height: normal;}
section.authors .box .name a {color: #000; text-decoration: none;}
section.authors .box .name a:hover {color: var(--bs-brand);}
section.authors .box .rating {max-width: 100px;}
section.authors .box .divider {width: 16px; height: 2px; background-color: #FFA767; margin: 15px auto;}
section.authors .box .position {text-transform: uppercase; font-size: 16px; line-height: normal; letter-spacing: 0.05em; color: #424A53; margin-bottom: 15px;}
section.authors .box .social-icon {flex: 0 0 auto; width: 35px; height: 35px; border: 1px solid #7C7F83; color:  #7C7F83; font-size: 20px; text-decoration: none;}
section.authors .box .social-icon:hover {color: var(--bs-brand); border-color: var(--bs-brand); box-shadow: 0 9px 23px rgba(0, 0, 0, 0.11);}

section.articles .main-title {font-family: 'PT Serif'; font-style: normal; font-weight: bold; font-size: 40px; line-height: normal; color: #000; margin: 0;}

@media all and (max-width: 767px){
	section.authors {padding-top: 100px; padding-bottom: 40px;}
	section.authors .box {border-radius: 10px; padding: 20px;}
	section.authors .box .photo {margin-bottom: 15px; width: 90px; height: 90px; border-width: 2px; box-shadow: 0 0 10px rgba(15, 27, 58, 0.08);}
	section.authors .box .name {font-size: 25px;}
	section.authors .box .divider {margin: 10px auto;}
	section.authors .box .position {font-size: 14px;}
	section.authors .box .social-icon {width: 30px; height: 30px; font-size: 18px;}
	section.authors .box .social-icon:hover {box-shadow: 0 5px 13px rgba(0, 0, 0, 0.11);}
}
@media all and (max-width: 575px){
	section.authors .box {border-radius: 10px; padding: 20px; max-width: 300px; margin: auto;}
	section.authors .box .photo {width: 65px; height: 65px;}
	section.authors .box .name {font-size: 20px;}
	section.authors .box .position {font-size: 12px;}
	section.authors .box .social-icon {width: 28px; height: 28px; font-size: 16px;}
}
@media all and (max-width: 767px){
	section.articles .main-title {font-size: 28px;}
}
