.trans-me,
.trans-all,
.trans-all * {transition: all .2s linear;}
.trans-me-slow,
.trans-all-slow,
.trans-all-slow * {transition: all .3s linear;}
.trans-me-ease,
.trans-all-ease,
.trans-all-ease * {transition: all .2s ease;}
.trans-me-slow-ease,
.trans-all-slow-ease,
.trans-all-slow-ease * {transition: all .3s ease;}
.trans-none,
.trans-none-all,
.trans-none-all * {transition: none;}
@media all and (max-width: 767px){
	.trans-xs-me,
	.trans-xs-all,
	.trans-xs-all * {transition: all .2s ease;}
	.trans-xs-me-slow,
	.trans-xs-all-slow,
	.trans-xs-all-slow * {transition: all .3s linear .1s;}
	.trans-xs-none,
	.trans-xs-none-all,
	.trans-xs-none-all * {transition: none;}
}

.hide {display: none !important;}

.loader {visibility: hidden; opacity: 0; position: absolute; z-index: 5; left: 0; right: 0; top: 0; bottom: 0; background: rgba(255, 255, 255, 0.8) url(../img/loader_tr.gif) no-repeat center;}
.loader.fixed {position: fixed;}
.loader.show {visibility: visible; opacity: 1;}
.bg-loader {background: url(../img/loader.gif) no-repeat center;}
.js_data_loader {background-color: rgba(255, 255, 255, 0.7); position: absolute; z-index: 1; left: 0; top: 0; right: 0; bottom: 0; border-radius: 5px;}
/*.js_data_loader:not(.show) {display: none;}*/

.max-w-1100 {max-width: 1100px;}
.max-w-1070 {max-width: 1070px;}

.fs-20 {font-size: 20px;}

body.block-opened,
body.filter-opened {overflow: hidden;}

.rmd-backdrop {position: fixed; z-index: 0; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer;}
.rmd-backdrop.dark {display: none; background-color: rgba(0, 0, 0, .3);}

.page-item.prev .page-link,
.page-item.next .page-link {background-repeat: no-repeat; background-position: center; text-indent: -50px; overflow: hidden;}
.page-item.prev .page-link {background-image: url(../icons/arrow-left-indigo.svg);}
.page-item.next .page-link {background-image: url(../icons/arrow-right-indigo.svg);}
.page-item.disabled .page-link {opacity: 0.5;}

.sticky-block {position: sticky; top: 100px;}
html.header-top .sticky-block {position: sticky; top: 140px;}
@media print {
	.sticky-block {position: unset;}
}

