:root {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #8859EC;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #09C269;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-white: #fff;
	--bs-gray: #6c757d;
	--bs-gray-dark: #343a40;
	--bs-primary: #0d6efd;
	--bs-success: #198754;
	--bs-info: #0dcaf0;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;
	--bs-black: #212529;
	--bs-brand: #6D459C;
	--bs-secondary: #F88430;
	--bs-rating-star: #FFB681;
	--bs-font-sans-serif: 'PT Serif', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--bs-font-monospace: 'PT Serif', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

@font-face {
	font-family: 'Airbnb Cereal App';
	src: url('../fonts/AirbnbCereal/AirbnbCerealApp-Light.eot');
	src: url('../fonts/AirbnbCereal/AirbnbCerealApp-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Light.woff2') format('woff2'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Light.woff') format('woff'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Light.ttf') format('truetype'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Light.svg#AirbnbCerealApp-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Airbnb Cereal App';
	src: url('../fonts/AirbnbCereal/AirbnbCerealApp-Medium.eot');
	src: url('../fonts/AirbnbCereal/AirbnbCerealApp-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Medium.woff2') format('woff2'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Medium.woff') format('woff'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Medium.ttf') format('truetype'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Medium.svg#AirbnbCerealApp-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Airbnb Cereal App';
	src: url('../fonts/AirbnbCereal/AirbnbCerealApp-Bold.eot');
	src: url('../fonts/AirbnbCereal/AirbnbCerealApp-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Bold.woff2') format('woff2'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Bold.woff') format('woff'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Bold.ttf') format('truetype'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Bold.svg#AirbnbCerealApp-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Airbnb Cereal App';
	src: url('../fonts/AirbnbCereal/AirbnbCerealApp-Black.eot');
	src: url('../fonts/AirbnbCereal/AirbnbCerealApp-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Black.woff2') format('woff2'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Black.woff') format('woff'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Black.ttf') format('truetype'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Black.svg#AirbnbCerealApp-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Airbnb Cereal App Book';
	src: url('../fonts/AirbnbCereal/AirbnbCerealApp-Book.eot');
	src: url('../fonts/AirbnbCereal/AirbnbCerealApp-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Book.woff2') format('woff2'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Book.woff') format('woff'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Book.ttf') format('truetype'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-Book.svg#AirbnbCerealApp-Book') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Airbnb Cereal App Extra';
	src: url('../fonts/AirbnbCereal/AirbnbCerealApp-ExtraBold.eot');
	src: url('../fonts/AirbnbCereal/AirbnbCerealApp-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-ExtraBold.woff2') format('woff2'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-ExtraBold.woff') format('woff'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-ExtraBold.ttf') format('truetype'),
	url('../fonts/AirbnbCereal/AirbnbCerealApp-ExtraBold.svg#AirbnbCerealApp-ExtraBold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

ol, ul {padding-left: 2rem; list-style: none;}
img, svg {vertical-align: middle; max-width: 100%;}

.trans-me,
.trans-all,
.trans-all * {transition: all .2s linear;}
.trans-me-slow,
.trans-all-slow,
.trans-all-slow * {transition: all .3s linear;}
.trans-me-ease,
.trans-all-ease,
.trans-all-ease * {transition: all .2s ease;}
.trans-me-slow-ease,
.trans-all-slow-ease,
.trans-all-slow-ease * {transition: all .3s ease;}
.trans-none,
.trans-none-all,
.trans-none-all * {transition: none;}
@media all and (max-width: 767px){
	.trans-xs-me,
	.trans-xs-all,
	.trans-xs-all * {transition: all .2s ease;}
	.trans-xs-me-slow,
	.trans-xs-all-slow,
	.trans-xs-all-slow * {transition: all .3s linear .1s;}
	.trans-xs-none,
	.trans-xs-none-all,
	.trans-xs-none-all * {transition: none;}
}

.hide {display: none !important;}

.loader {visibility: hidden; opacity: 0; position: absolute; z-index: 5; left: 0; right: 0; top: 0; bottom: 0; background: rgba(255, 255, 255, 0.8) url(../img/loader_tr.gif) no-repeat center;}
.loader.fixed {position: fixed;}
.loader.show {visibility: visible; opacity: 1;}
.bg-loader {background: url(../img/loader.gif) no-repeat center;}
.js_data_loader {background-color: rgba(255, 255, 255, 0.7); position: absolute; z-index: 1; left: 0; top: 0; right: 0; bottom: 0; border-radius: 5px;}
/*.js_data_loader:not(.show) {display: none;}*/

.btn,
.btn-primary-large,
.btn-primary-medium,
.btn-primary-small,
.btn-secondary-custom,
.page-link,
.form-select,
.form-control,
.address,
.location-btn,
.read-more-btn,
.main-desc,
.main-input,
.main-text-content {font-family: 'Airbnb Cereal App'; font-style: normal;}

.breadcrumb {font-family: 'Airbnb Cereal App Book';}

h1.main-title,
h2.secondary-title {font-family: 'PT Serif'; font-style: normal;}


.text-color-primary {color: var(--bs-brand);}
.text-color-white {color: var(--bs-white);}
.main-text-content.text-color-black {color: var(--bs-black);}
.text-color-black {color: var(--bs-black) !important;}
.text-color-secondary {color: var(--bs-secondary);}
.text-color-purple {color: var(--bs-purple);}
.text-color-green {color: var(--bs-green);}
.text-color-rating-icon {color: var(--bs-rating-star);}
.main-text-content {font-weight: 300; font-size: 18px; line-height: 27px; color: #5A5A5A;}
.main-desc {font-size: 16px; font-weight: 300; color: #444; line-height: normal;}
@media all and (max-width: 767px) {
	.main-text-content {font-size: 14px; line-height: 23px;}
}
.highlighted-paragraph {padding-left: 20px; border-left: 1px solid #797575;}
.highlighted-paragraph::before {}
.main-input {width: 100%; max-width: 340px; height: 55px; padding: 0 20px; font-weight: 300; font-size: 16px; line-height: 21px; border: 1px solid #D3D3D3; border-radius: 5px;}
.read-more-btn {font-weight: 500; font-size: 16px; line-height: 26px; letter-spacing: -0.008em; color: #000;}
.divider-wrapp {overflow: hidden;}
.add-to-favorite-btn {height: 35px; width: 35px; top: 30px; left: 30px; border-radius: 5px; cursor: pointer;}
.add-to-favorite-btn > i.bi-heart-fill {/*display: none;*/}
.add-to-favorite-btn--active>i.bi-heart-fill {display: block; color: var(--bs-brand) !important;}
.add-to-favorite-btn--active>i.bi-heart {display: none;}
.location-btn {width: 100%; max-width: 165px; height: 50px; border: 1px solid #D7D7D7; border-radius: 5px; font-weight: 300; font-size: 18px; line-height: 26px; letter-spacing: -0.005em; color: #7D7D7D; transition: all ease-in .15s; padding: 0 10px;}
.location-btn:hover {background-color: var(--bs-brand) !important; color: #fff; transition: all ease-in .15s;}
.location-btn > .icon-wrapp--tabs {transition: all ease-in .15s;}
.location-btn:hover > .icon-wrapp--tabs {background-color: #FFB681; transition: all ease-in .15s;}
.location-btn > .icon-wrapp--tabs > i {transition: all ease-in .15s;}
.location-btn:hover > .icon-wrapp--tabs > i {color: #fff; transition: all ease-in .15s;}
@media all and (max-width: 767px) {
	.location-btn {width: 95px; height: 35px; font-size: 15px; line-height: 140%;}
}
.icon-wrapp {width: 40px; height: 40px; background: #FFF; box-shadow: 0 2px 17px rgba(22, 30, 52, 0.07); border-radius: 5px; padding-top: 3px;}
.icon-wrapp--tabs {width: 30px; height: 30px;}
h1.main-title {font-weight: bold; font-size: 50px; line-height: 130%; color: #152430;}
h2.secondary-title {font-weight: bold; font-size: 22px; line-height: 20px; text-align: center; color: #493D50;}
@media all and (max-width: 1200px) {
	h1.main-title {font-size: 35px; line-height: 120%;}
	h2.secondary-title {font-size: 20px; line-height: 130%;}
}
.title-decor-line {position: relative;}
.title-decor-line:after {content: ""; display: block; position: absolute; bottom: 4px; left: 0; right: 0; height: 5px; background-color:rgba(255, 182, 129, 0.6);}
.address {font-weight: 300; font-size: 15px; line-height: normal; letter-spacing: -0.005em; color: #5A5A5A;}
@media screen and (max-width: 767px) {
	.address {font-size: 14px; line-height: 140%;}
}
button:focus {outline: none; outline: -webkit-focus-ring-color auto 5px;}
@media all and (min-width: 1400px) {
	.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {max-width: 1290px;}
}
.form-control {font-size: 15px; font-weight: 300;}
.form-control:focus {border-color: #6D459C; box-shadow: 0 0 0 0.25rem rgba(109, 69, 156, 0.25);}
.form-select {font-size: 16px; font-weight: 300;}
.form-select option {font-family: sans-serif; font-weight: 300; font-size: 14px;}
.form-select:focus {border-color: #6D459C; box-shadow: 0 0 0 0.25rem rgba(109, 69, 156, 0.25);}
.form-check-input:focus {border-color: #6D459C; box-shadow: 0 0 0 0.25rem rgba(109, 69, 156, 0.25);}
.form-range:focus::-webkit-slider-thumb {box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(109, 69, 156, 0.25);}
.form-range:focus::-moz-range-thumb {box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(109, 69, 156, 0.25);}
.btn {border-radius: 5px;}
.btn-check:focus + .btn,
.btn:focus {box-shadow: 0 0 0 0.25rem rgba(109, 69, 156, 0.25);}
.btn-primary-small {width: 110px; height: 45px; background-color: #6D459C; border-radius: 5px; font-weight: 500; font-size: 16px; line-height: 25px; color: #FFF; outline: none; border: none;}
.btn-primary-small:hover {}
.btn-primary-medium {width: 100%; max-width: 180px; height: 50px; display: flex; align-items: center; justify-content: center; background: #6D459C; border-radius: 5px; font-weight: 500; font-size: 18px; line-height: 25px; text-align: center; color: #FFF; text-decoration: none; border: none;}
.btn-primary-medium:hover {color: #FFF;}
.btn-primary-large {width: 100%; max-width: 160px; height: 60px; display: flex; align-items: center; justify-content: center; background: #6D459C; border-radius: 5px; font-weight: 500; font-size: 18px; line-height: 25px; text-align: center; color: #FFF; text-decoration: none; border: none;}
.btn-primary-large:hover {color: #FFF;}
.btn-secondary-custom {max-width: 180px; display: flex; justify-content: center; align-items: center; height: 50px; border: 1px solid #D3D3D3; border-radius: 5px; background-color: #fff; font-weight: 500; font-size: 16px; line-height: 25px; text-align: center; color: #5A5A5A;}
.btn-brand {background-color: var(--bs-brand); color: var(--bs-white); font-weight: 500; font-size: 16px; border: 1px solid var(--bs-brand); padding: 10px;}
.btn-brand:hover {background-color: var(--bs-white); color: var(--bs-brand);}
.btn-brand-outline {background-color: var(--bs-white); color: var(--bs-brand); font-weight: 500; font-size: 16px; border: 1px solid var(--bs-brand); padding: 10px;}
.btn-brand-outline:hover {background-color: var(--bs-brand); color: var(--bs-white);}
.accordion-button:focus {z-index: 3; border-color: #6D459C; outline: 0; box-shadow: 0 0 0 0.25rem rgba(109, 69, 156, 0.25);}
.breadcrumb {}
.breadcrumb-item + .breadcrumb-item::before {content: url("../icons/breadcrumb.svg");}
.breadcrumb-item > a {}
.pagination {margin-bottom: 0;}
.page-item {margin-left: 5px; margin-right: 5px;}
.page-link {font-weight: 300; font-size: 17px; letter-spacing: -0.005em; color: #5A5A5A; display: flex; justify-content: center; align-items: center; width: 35px; height: 35px; border-radius: 50% !important; border: none; line-height: 21px;}
.page-link:hover {background-color: #DBCDEC; color: var(--bs-brand); border-color: #DBCDEC;}
.page-link:focus {background-color: #DBCDEC; color: var(--bs-brand); outline: 0; box-shadow: 0 0 0 0.25rem var(--bs-brand);}
.page-item:not(:first-child) .page-link {margin-left: 0;}
.page-item.active .page-link {background-color: var(--bs-brand); border-color: var(--bs-brand);}
.btn-close:focus {box-shadow: 0 0 0 0.25rem rgba(109, 69, 156, 0.25);}
.modal-header .btn-close {color: var(--bs-brand);}
.modal-title {color: var(--bs-brand); font-weight: bold;}
.align-items-self-end {align-items: self-end !important;}
.m-1 {margin: 10px !important;}
.m-2 {margin: 20px !important;}
.m-3 {margin: 30px !important;}
.mx-1 {margin-right: 10px !important; margin-left: 10px !important;}
.mx-2 {margin-right: 20px !important; margin-left: 20px !important;}
.mx-3 {margin-right: 30px !important; margin-left: 30px !important;}
.mx-4 {margin-right: 40px !important; margin-left: 40px !important;}
.mx-5 {margin-right: 50px !important; margin-left: 50px !important;}
.mx-6 {margin-right: 60px !important; margin-left: 60px !important;}
.mx-7 {margin-right: 70px !important; margin-left: 70px !important;}
.mx-8 {margin-right: 80px !important; margin-left: 80px !important;}
.mx-9 {margin-right: 90px !important; margin-left: 90px !important;}
.my-1 {margin-top: 10px !important; margin-bottom: 10px !important;}
.my-15 {margin-top: 15px !important; margin-bottom: 15px !important;}
.my-2 {margin-top: 20px !important; margin-bottom: 20px !important;}
.my-3 {margin-top: 30px !important; margin-bottom: 30px !important;}
.my-4 {margin-top: 40px !important; margin-bottom: 40px !important;}
.my-5 {margin-top: 50px !important; margin-bottom: 50px !important;}
.mt-1 {margin-top: 10px !important;}
.mt-2 {margin-top: 20px !important;}
.mt-3 {margin-top: 30px !important;}
.mt-4 {margin-top: 40px !important;}
.mt-45 {margin-top: 45px !important;}
.mt-5 {margin-top: 50px !important;}
.mt-6 {margin-top: 60px !important;}
.mt-7 {margin-top: 70px !important;}
.mt-100 {margin-top: 100px !important;}
.me-05 {margin-right: 5px !important;}
.me-1 {margin-right: 10px !important;}
.me-2 {margin-right: 20px !important;}
.me-3 {margin-right: 30px !important;}
.me-4 {margin-right: 40px !important;}
.me-5 {margin-right: 50px !important;}
.me-15 {margin-right: 15px !important;}
.mb-1 {margin-bottom: 10px !important;}
.mb-2 {margin-bottom: 20px !important;}
.mb-25 {margin-bottom: 20px !important;}
.mb-3 {margin-bottom: 30px !important;}
.mb-4 {margin-bottom: 40px !important;}
.mb-5 {margin-bottom: 50px !important;}
.mb-6 {margin-bottom: 60px !important;}
.mb-7 {margin-bottom: 70px !important;}
.mb-8 {margin-bottom: 80px !important;}
.mb-9 {margin-bottom: 90px !important;}
.mb-10 {margin-bottom: 100px !important;}
.mb-15 {margin-bottom: 15px !important;}
.mb-25 {margin-bottom: 25px !important;}
.mb-35 {margin-bottom: 35px !important;}
.ms-1 {margin-left: 10px!important;}
.ms-15 {margin-left: 15px!important;}
.ms-2 {margin-left: 20px !important;}
.ms-3 {margin-left: 30px !important;}
.ms-4 {margin-left: 40px !important;}
.ms-5 {margin-left: 50px !important;}
.p-1 {padding: 10px !important;}
.p-2 {padding: 20px!important;}
.p-25 {padding: 25px!important;}
.p-3 {padding: 30px !important;}
.p-4 {padding: 40px !important;}
.p-5 {padding: 50px !important;}
.p-25 {padding: 25px;}
.p-35 {padding: 35px;}
.px-1 {padding-right: 10px !important; padding-left: 10px !important;}
.px-2 {padding-right: 20px !important; padding-left: 20px !important;}
.px-3 {padding-right: 30px !important; padding-left: 30px !important;}
.px-4 {padding-right: 40px !important; padding-left: 40px !important;}
.px-75 {padding-right: 74px !important; padding-left: 74px !important;}
.py-1 {padding-top: 10px !important; padding-bottom: 10px !important;}
.py-2 {padding-top: 20px !important; padding-bottom: 20px !important;}
.py-3 {padding-top: 30px !important; padding-bottom: 30px !important;}
.py-4 {padding-top: 40px !important; padding-bottom: 40px !important;}
.py-5 {padding-top: 50px !important; padding-bottom: 50px !important;}
.py-6 {padding-top: 60px !important; padding-bottom: 60px !important;}
.pt-1 {padding-top: 10px !important;}
.pt-2 {padding-top: 20px !important;}
.pt-3 {padding-top: 30px !important;}
.pt-4 {padding-top: 40px !important;}
.pt-5 {padding-top: 50px !important;}
.pt-6 {padding-top: 60px !important;}
.pt-7 {padding-top: 60px !important;}
.pt-55 {padding-top: 55px !important;}
.pt-85 {padding-top: 85px !important;}
.pt-9 {padding-top: 90px !important;}
.pe-1 {padding-right: 10px !important;}
.pe-2 {padding-right: 20px !important;}
.pe-3 {padding-right: 30px !important;}
.pe-4 {padding-right: 40px !important;}
.pe-5 {padding-right: 50px !important;}
.pe-85 {padding-right: 85px !important;}
.pb-1 {padding-bottom: 10px !important;}
.pb-15 {padding-bottom: 15px !important;}
.pb-2 {padding-bottom: 20px !important;}
.pb-3 {padding-bottom: 30px !important;}
.pb-4 {padding-bottom: 40px !important;}
.pb-5 {padding-bottom: 50px !important;}
.pb-6 {padding-bottom: 60px !important;}
.pb-7 {padding-bottom: 70px !important;}
.pb-8 {padding-bottom: 80px !important;}
.pb-9 {padding-bottom: 90px !important;}
.pb-35 {padding-bottom: 35px !important;}
.pb-55 {padding-bottom: 55px !important;}
.pb-100 {padding-bottom: 100px !important;}
.ps-1 {padding-left: 10px !important;}
.ps-2 {padding-left: 20px !important;}
.ps-3 {padding-left: 30px !important;}
.ps-4 {padding-left: 40px !important;}
.ps-5 {padding-left: 50px !important;}
.rounded {border-radius: 0.25rem !important;}
.rounded-0 {border-radius: 0 !important;}
.rounded-1 {border-radius: 0.2rem !important;}
.rounded-2 {border-radius: 0.25rem !important;}
.rounded-3 {border-radius: 3px;}
.rounded-4 {border-radius: 4px;}
.rounded-8 {border-radius: 8px;}
.rounded-10 {border-radius: 10px;}
.rounded-10-left {border-radius: 10px 0 0 10px;}
.rounded-10-right {border-radius: 0 10px 10px 0;}
@media all and (min-width: 768px){
	.rounded-10-md-left {border-radius: 10px 0 0 10px;}
	.rounded-10-md-right {border-radius: 0 10px 10px 0;}
}
@media all and (min-width: 576px) {
	.pt-sm-1 {padding-top: 10px !important;}
	.pt-sm-2 {padding-top: 20px !important;}
	.pt-sm-3 {padding-top: 30px !important;}
	.pt-sm-4 {padding-top: 40px !important;}
	.pt-sm-5 {padding-top: 50px !important;}
}
@media all and (min-width: 768px) {
	.mt-md-1 {margin-top: 10px !important;}
	.mt-md-2 {margin-top: 20px !important;}
	.mt-md-3 {margin-top: 30px !important;}
	.mt-md-4 {margin-top: 40px !important;}
	.mt-md-5 {margin-top: 50px !important;}
	.mt-md-100 {margin-top: 50px !important;}
	.mb-md-1 {margin-bottom: 10px !important;}
	.mb-md-15 {margin-bottom: 15px !important;}
	.mb-md-1 {margin-bottom: 10px !important;}
	.mb-md-2 {margin-bottom: 20px !important;}
	.mb-md-25 {margin-bottom: 25px !important;}
	.mb-md-3 {margin-bottom: 30px !important;}
	.mb-md-4 {margin-bottom: 40px !important;}
	.mb-md-5 {margin-bottom: 50px !important;}
	.mb-md-6 {margin-bottom: 60px !important;}
	.mb-md-7 {margin-bottom: 70px !important;}
	.mb-md-8 {margin-bottom: 80px !important;}
	.mb-md-9 {margin-bottom: 90px !important;}
	.mb-md-10 {margin-bottom: 100px !important;}
	.p-md-1 {padding: 10px !important;}
	.p-md-2 {padding: 20px !important;}
	.p-md-3 {padding: 30px !important;}
	.p-md-4 {padding: 40px !important;}
	.p-md-5 {padding: 50px !important;}
	.px-md-1 {padding-right: 10px !important; padding-left: 10px !important;}
	.px-md-2 {padding-right: 20px !important; padding-left: 20px !important;}
	.px-md-3 {padding-right: 30px !important; padding-left: 30px !important;}
	.px-md-4 {padding-right: 40px !important; padding-left: 40px !important;}
	.px-md-5 {padding-right: 60px !important; padding-left: 60px !important;}
	.px-md-60 {padding-right: 60px !important; padding-left: 60px !important;}
	.px-md-75 {padding-right: 75px !important; padding-left: 75px !important;}
	.py-md-0 {padding-top: 0px !important; padding-bottom: 0px !important;}
	.py-md-1 {padding-top: 10px !important; padding-bottom: 10px !important;}
	.py-md-2 {padding-top: 20px !important; padding-bottom: 20px !important;}
	.py-md-3 {padding-top: 30px !important; padding-bottom: 30px !important;}
	.py-md-4 {padding-top: 40px !important; padding-bottom: 40px !important;}
	.py-md-5 {padding-top: 50px !important; padding-bottom: 50px !important;}
	.pt-md-1 {padding-top: 10px !important;}
	.pt-md-2 {padding-top: 20px !important;}
	.pt-md-3 {padding-top: 30px !important;}
	.pt-md-4 {padding-top: 40px !important;}
	.pt-md-5 {padding-top: 50px !important;}
	.pt-md-6 {padding-top: 60px !important;}
	.pt-md-7 {padding-top: 70px !important;}
	.pt-md-8 {padding-top: 80px !important;}
	.pt-md-9 {padding-top: 90px !important;}
	.pb-md-1 {padding-bottom: 10px !important;}
	.pb-md-2 {padding-bottom: 20px !important;}
	.pb-md-3 {padding-bottom: 30px !important;}
	.pb-md-4 {padding-bottom: 40px !important;}
	.pb-md-5 {padding-bottom: 50px !important;}
	.pb-md-6 {padding-bottom: 60px !important;}
	.pb-md-7 {padding-bottom: 70px !important;}
	.pb-md-35 {padding-bottom: 35px !important;}
}
@media all and (min-width: 992px) {
	.mt-lg-1 {margin-top: 10px !important;}
	.mt-lg-2 {margin-top: 20px !important;}
	.mt-lg-3 {margin-top: 30px !important;}
	.mt-lg-4 {margin-top: 40px !important;}
	.mt-lg-5 {margin-top: 50px !important;}
	.me-lg-1 {margin-right: 10px !important;}
	.me-lg-2 {margin-right: 20px !important;}
	.me-lg-3 {margin-right: 30px !important;}
	.me-lg-4 {margin-right: 40px !important;}
	.me-lg-5 {margin-right: 50px !important;}
	.mb-lg-1 {margin-bottom: 10px !important;}
	.mb-lg-2 {margin-bottom: 20px !important;}
	.mb-lg-25 {margin-bottom: 25px !important;}
	.mb-lg-3 {margin-bottom: 30px !important;}
	.mb-lg-4 {margin-bottom: 40px !important;}
	.mb-lg-5 {margin-bottom: 50px !important;}
	.mb-lg-6 {margin-bottom: 60px !important;}
	.mb-lg-7 {margin-bottom: 70px !important;}
	.ms-lg-1 {margin-left: 10px !important;}
	.ms-lg-2 {margin-left: 20px !important;}
	.ms-lg-3 {margin-left: 30px !important;}
	.ms-lg-4 {margin-left: 40px !important;}
	.ms-lg-5 {margin-left: 50px !important;}
	.pb-lg-1 {padding-bottom: 10px !important;}
	.pb-lg-2 {padding-bottom: 20px !important;}
	.pb-lg-25 {padding-bottom: 25px !important;}
	.pb-lg-3 {padding-bottom: 30px !important;}
	.pb-lg-4 {padding-bottom: 40px !important;}
	.pb-lg-5 {padding-bottom: 50px !important;}
}
@media all and (min-width: 1200px) {
	.me-xl-1 {margin-right: 10px !important;}
	.me-xl-15 {margin-right: 15px !important;}
	.me-xl-2 {margin-right: 20px !important;}
	.me-xl-3 {margin-right: 30px !important;}
	.me-xl-4 {margin-right: 40px !important;}
	.me-xl-5 {margin-right: 50px !important;}
	.mb-xl-1 {margin-bottom: 10px !important;}
	.mb-xl-2 {margin-bottom: 20px !important;}
	.mb-xl-3 {margin-bottom: 30px !important;}
	.mb-xl-4 {margin-bottom: 40px !important;}
	.mb-xl-5 {margin-bottom: 50px !important;}
	.ms-xl-1 {margin-left: 10px !important;}
	.ms-xl-2 {margin-left: 20px !important;}
	.ms-xl-3 {margin-left: 30px !important;}
	.ms-xl-4 {margin-left: 40px !important;}
	.ms-xl-5 {margin-left: 50px !important;}
	.px-xl-1 {padding-right: 10px !important; padding-left: 10px!important;}
	.px-xl-2 {padding-right: 20px !important; padding-left: 20px !important;}
	.px-xl-3 {padding-right: 30px !important; padding-left: 30px !important;}
	.px-xl-4 {padding-right: 40px !important; padding-left: 40px !important;}
	.px-xl-5 {padding-right: 50px !important; padding-left: 50px !important;}
	.py-xl-1 {padding-top: 10px !important; padding-bottom: 10px !important;}
	.py-xl-2 {padding-top: 20px !important; padding-bottom: 20px !important;}
	.py-xl-3 {padding-top: 30px !important; padding-bottom: 30px !important;}
	.py-xl-4 {padding-top: 40px !important; padding-bottom: 40px !important;}
	.py-xl-5{ padding-top: 50px !important; padding-bottom: 50px !important;}
}

.max-w-420 {max-width: 420px;}
.max-w-1120 {max-width: 1120px;}
.max-w-1100 {max-width: 1100px;}
.max-w-1070 {max-width: 1070px;}
@media all and (min-width: 768px){
	.max-w-420-sm {max-width: 420px;}
	.w-sm-auto {width: auto !important;}
}

.fs-20 {font-size: 20px;}

body.block-opened,
body.filter-opened {overflow: hidden;}

.rmd-backdrop {position: fixed; z-index: 0; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer;}
.rmd-backdrop.dark {display: none; background-color: rgba(0, 0, 0, .3);}

.page-item.prev .page-link,
.page-item.next .page-link {background-repeat: no-repeat; background-position: center; text-indent: -50px; overflow: hidden;}
.page-item.prev .page-link {background-image: url(../icons/arrow-left-indigo.svg);}
.page-item.next .page-link {background-image: url(../icons/arrow-right-indigo.svg);}
.page-item.disabled .page-link {opacity: 0.5;}

.sticky-block {position: sticky; top: 100px;}
html.header-top .sticky-block {position: sticky; top: 140px;}
@media print {
	.sticky-block {position: unset;}
}

