.header__link,
.header-home__tel {font-family: 'Airbnb Cereal App'; font-style: normal;}
.header-home__favorite-box {font-family: 'Airbnb Cereal App'; font-style: normal; font-weight: 300;}

.site-header {margin: 70px auto 0; position: absolute; z-index: 1; left: 0; right: 0;}
.header-home {height: 75px; background-color: #fff; box-shadow: 0 10px 25px rgba(26, 47, 72, 0.05); border-radius: 10px; padding-left: 40px; padding-right: 40px;}
.header-home__menu-list {display: flex; align-items: center; margin-bottom: 0;}
.header-home__menu-item {margin-right: 30px;}
.header-home__menu-item:last-child {margin-right: 0;}
.header__link {font-weight: 300; font-size: 16px; line-height: 25px; color: #4e4e4e;}
.header__link:hover {color: var(--bs-brand);}
.header__link--active {color: var(--bs-brand); position: relative;}
.header__link--active:after {content: ""; width: 10px; height: 2px; background: #ffa05b; border-radius: 1px; position: absolute; bottom: -5px; left: 0; right: 0; margin: auto;}
.header-home__tel {font-weight: 500; font-size: 14px; line-height: 18px; color: #6d459c;}
.header-home__tel:hover {text-decoration: underline; color: #6d459c;}
.header-home__tel > i {font-size: 18px; transform: translateY(2px);}
.header-home__favorite-box {width: 122px; height: 32px; border: 1px solid #d0d0d0; border-radius: 5px; font-size: 14px; line-height: 24px; letter-spacing: -0.01em; color: #000;}
.header-home__favorite-box > i {transform: translateY(2px);}
.header-home__menu-icon > i {font-size: 28px;}

@media all and (max-width: 1199px){
	.site-header {margin: 20px auto 0;}
}
@media all and (max-width: 767px){
	.header-home {height: auto; box-shadow: none; background-color: transparent; padding: 0 8px;}
}
@media all and (max-width: 575px){
	.header-home {padding-left: 10px; padding-right: 10px;}
}
@media all and (max-width: 365px){
	.header-home__favorite-box {display: none !important;}
}