header#header * {text-decoration: none;}

.header-logo,
.navigation nav li a,
.header-home__tel,
.header-home__favorite-box {font-family: 'Airbnb Cereal App'; font-style: normal;}

.header-logo {font-weight: bold; font-size: 20px; line-height: 25px; color: #6D459C;}
.header-logo a {color: #6D459C; text-decoration: none;}

.site-header {margin: 35px auto 0; position: absolute; z-index: 1; left: 0; right: 0; top: 0;}
.header-home {height: 75px; background-color: #fff; box-shadow: 0 10px 25px rgba(26, 47, 72, 0.05); border-radius: 10px; padding-left: 40px; padding-right: 40px;}
.header-home__menu-list {display: flex; align-items: center; margin-bottom: 0;}
.header-home__menu-item {margin-right: 30px;}
.header-home__menu-item:last-child {margin-right: 0;}
.navigation nav li {padding: 0 10px;}
.navigation nav li a {position: relative; font-weight: 300; font-size: 16px; line-height: 25px; color: #4e4e4e; text-decoration: none; }
.navigation nav li a:hover {color: var(--bs-brand);}
.navigation nav li a:after {content: ""; opacity: 0; width: 10px; height: 2px; background-color: #ffa05b; border-radius: 1px; position: absolute; bottom: -3px; left: 0; right: 0; margin: auto; transition: all .2s ease;}
.navigation nav li a.active {color: var(--bs-brand); font-weight: 500;}
.navigation nav li a:hover:after,
.navigation nav li a.active:after {opacity: 1;}
.navigation nav li a:hover:after {width: 100%;}
.header-home__tel {font-weight: 500; font-size: 14px; line-height: 18px; color: #6d459c;}
.header-home__tel:hover {text-decoration: underline; color: #6d459c;}
.header-home__tel > i {font-size: 18px; transform: translateY(2px);}

.header-home__favorite-box {padding: 3px 10px; border: 2px solid #d0d0d0; border-radius: 5px; font-size: 14px; font-weight: 300; line-height: 24px; letter-spacing: -0.01em; color: #000;}
.header-home__favorite-box:hover {background-color: #6d459c; color: #fff; border-color: #6d459c;}
.header-home__favorite-box svg {margin-right: 8px; flex: 0 0 auto;}
.header-home__favorite-box:hover svg path {fill: #fff;}
.header-home__favorite-box .badge {display: block; position: relative; border-left: 2px solid rgba(208, 208, 208, 0.5); border-radius: 0; width: 20px; height: 30px; text-align: center; padding: 0 0 0 6px; margin: -3px 0 -3px 8px; color: #6d459c; line-height: 30px;}
.header-home__favorite-box:hover .badge {color: #fff; border-color: rgba(255, 255, 255, 0.2);}
.header-home__favorite-box .badge:empty {display: none;}

.nav-control > i {font-size: 28px;}
.nav-control {color: #6D459C; cursor: pointer;}
.nav-control:hover {color: #2F2E41;}
.nav-control.close {font-size: 22px; text-align: right; display: block; padding: 13px 30px;}


@media all and (max-width: 1199px){
	.site-header {margin: 30px auto 0;}
}
@media all and (max-width: 991px){
	.header-home {padding: 0 15px;}
}
@media all and (max-width: 767px){
	.header-home {height: auto; box-shadow: none; background-color: transparent; padding: 0;}
	.navigation {
		max-width: 300px;
		width: 90%;
		background-color: #fff;
		background-image: linear-gradient(180deg, rgba(225, 243, 255, 0.3) 7.86%, rgba(216, 206, 255, 1) 109.88%);
		position: fixed;
		height: 100%;
		top: 0;
		right: -320px;
		z-index: 99;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
		overflow: auto;
	}
	.navigation.toggled {right: 0;}
	.navigation nav li {display: block; padding: 0;}
	.navigation nav li a {display: block; padding: 13px 30px; text-transform: uppercase;}
	.navigation nav li a:hover,
	.navigation nav li a.active {color: #fff; background-color: #6D459C;}
	.navigation nav li a:after {display: none;}
}
@media all and (max-width: 575px){
	/*.header-home {padding-left: 10px; padding-right: 10px;}*/
}
@media all and (max-width: 355px){
	.header-home__favorite-box {width: 32px; overflow: hidden; justify-content: flex-start !important; white-space: nowrap; padding: 0 8px;}
}
