.header-home__search-input,
.benefit-card-link,
.location-card__location-name-box {font-family: 'Airbnb Cereal App';}
.location-card__item > a {font-family: 'Inter';}

.first-screen-home {position: relative; height: 780px; padding-top: 145px; padding-bottom: 85px; background-image: linear-gradient(180deg, rgba(225, 243, 255, 0.3) 7.86%, rgba(216, 206, 255, 0.3) 109.88%);}
.first-screen-home__title {font-style: normal; font-weight: bold; font-size: 65px; line-height: 120%; color: #152430;}
.first-screen-home__title > .title-decor-line:after {bottom: 12px !important;}
.first-screen-home__bg {}


.header-home__content {height: 780px;}
.header-home__search-wrapp {position: relative;}
.header-home__search-input {width: 380px; height: 60px; box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1); border: none; padding: 20px 135px 20px 20px; font-weight: 300; font-size: 16px; line-height: 25px;}
.header-home__search-btn {position: absolute; right: 10px; top: 7px;}

.companies {padding-top: 215px; padding-bottom: 130px;}

.benefits {position: relative;}
.benefits__bg {position: absolute; top: 0; right: 0;}
.benefits-card,
.benefits-card * {transition: all .15s ease-in;}
.benefits-card {height: 100%; background-color: #fff; border: 1px solid #dfdfdf; border-radius: 13px; padding: 25px; position: relative; z-index: 2; cursor: default;}
.benefits-card:hover {box-shadow: 0 54px 80px -16px rgba(219, 222, 230, 0.8); border-color: #fff; z-index: 1;}
.benefits-card > img {border-radius: 13px; border: 1px solid #eaeaea; box-shadow: 0 18px 50px -14px rgba(0, 0, 0, 0.1);}
.benefits-card:hover > img {border-color: transparent;}
.benefit-card-title {font-style: normal; font-weight: bold; font-size: 26px; line-height: 130%; letter-spacing: -1px; color: #152430;}
.benefit-card-content {font-size: 16px; line-height: 26px;}
.benefit-card-link {font-weight: 500; font-size: 16px; line-height: 19px; letter-spacing: -0.01em; color: #071440; display: flex;}
.benefit-card-link:after {content: url("../img/home/arrow-right-black.svg"); margin-left: 10px; transition: all .15s ease-in; height: 19px;}
.benefit-card-link:hover {color: #451db8;}
.benefit-card-link:hover:after {content: url("../img/home/arrow-right-indigo.svg"); margin-left: 15px;}

.location__body {background: linear-gradient(180deg, #e1f3ff 7.86%, rgba(216, 206, 255, 0.77) 109.88%);}
.location__header {padding: 130px 0 0 0;}
.location-card {padding: 25px 13px; box-shadow: 8px 21px 55px rgba(22, 37, 51, 0.05);}
.location-card__location-name-box {font-weight: 500; padding: 10px 15px; background-color: #f2eeff; border-radius: 5px; display: inline-block; text-decoration: none;}
.location-card__list {list-style: none; margin: 0; padding: 0;}
.location-card__item {position: relative; display: flex; align-items: center; padding: 20px 0; border-bottom: 1px solid #bbb;}
.location-card__item > a {width: 100%; display: flex; align-items: center; height: 100%; font-weight: 600; font-size: 20px; line-height: 24px; letter-spacing: -0.01em; color: #000; text-decoration: none;}
.location-card__item > a:hover {color: var(--bs-brand);}
.location-card__item > a > i:last-child {font-size: 30px; margin-left: auto;}
.location-card__list > .location-card__item:last-child {border-bottom: none;}
.location-card:first-child > div:last-child > .location-card__location-name-box {background-color: #f2eeff;}
.location-card:nth-child(2) > div:last-child > .location-card__location-name-box {background-color: #fff4ec;}
.location-card:nth-child(3) > div:last-child > .location-card__location-name-box {background-color: #eefff7;}

@media all and (max-width: 1199px) {
	.benefits-card {/*padding: 20px;*/}
	.location-card__item > a {font-size: 16px; line-height: 19px;}
	.header-home__content {height: auto;}
	.first-screen-home {height: 600px; padding-bottom: 0; margin-bottom: 80px;}
	.companies {padding-top: 15px; padding-bottom: 15px;}
	.header-home__search-input {max-width: 100%; width: 100%;}
	.first-screen-home__title {font-size: 45px; line-height: 115%;}
	.footer__bottom-box {padding-left: 15px !important; padding-right: 15px !important;}
}
@media all and (max-width: 991px){
	.first-screen-home {height: 480px; margin-bottom: 60px;}
	.location-card__item {padding: 15px 0;}
	.location-card__location-name-box {padding: 1px 10px;}
	.location-card__location-name-box .zmdi {margin-right: 5px !important;}
}
@media all and (max-width: 767px){
	.first-screen-home {height: auto; padding-top: 90px;}
	.benefits-card {height: auto;}
	.location-card {padding: 15px 3px; position: relative;}
	.location-card__location-name-box {position: absolute; z-index: 1; top: 30px; left: 30px; background-color: #fff; font-size: 14px; padding: 1px 10px;}
}
@media all and (max-width: 575px){
	.location__body {padding: 0 15px;}
}
