.article__info,
.article__content-link {font-family: 'Airbnb Cereal App Book';}

.breadcrumb,
.article-collapse-btn {font-family: 'Airbnb Cereal App'; font-style: normal;}

.article .main-text-content h1,
.article .main-text-content h2,
.article .main-text-content h3,
.article .main-text-content h4,
.article .main-text-content h5,
.article .main-text-content h6,
.article-subtitle {font-family: 'PT Serif'; font-style: normal;}

@media all and (min-width: 768px){
    .site-header {position: inherit;}
}

.article {padding-top: 115px; padding-bottom: 50px;}

.article .main-text-content h1,
.article .main-text-content h2,
.article .main-text-content h3,
.article .main-text-content h4,
.article .main-text-content h5,
.article .main-text-content h6 {font-weight: bold;}
.article .main-text-content h1 {font-size: 48px;}
.article .main-text-content h2 {font-size: 40px; margin-top: 50px; margin-bottom: 30px;}
.article .main-text-content h3 {font-size: 36px;}
.article .main-text-content h4 {font-size: 32px;}
.article .main-text-content h5 {font-size: 28px;}
.article .main-text-content h6 {font-size: 24px;}
.article .main-text-content img {border-radius: 10px;}
.article .main-text-content p {font-size: 18px; line-height: 170%; letter-spacing: -0.005em;}
.article .main-text-content blockquote {background-color: #F8F7FF; padding: 30px 35px; margin-bottom: 30px; border: 1px dashed #6D459C; border-radius: 10px; font-weight: 500; font-size: 18px; line-height: 170%; letter-spacing: -0.005em; color: #6D459C;}
.article .main-text-content blockquote p:last-child {margin: 0;}
.article .main-text-content ol:not(.breadcrumb) {list-style: decimal; padding-left: 18px;}
.article .main-text-content ol.big {font-size: 25px; line-height: 170%; padding-left: 25px;}
.article .main-text-content ol.big li::marker {font-weight: 500;}
.article .main-text-content ol.big blockquote {margin-top: 20px;}
.article .main-text-content ul {padding: 0;}
.article .main-text-content ul li {background: transparent url(../icons/list.svg) no-repeat 0 4px; padding-left: 30px; margin-bottom: 8px;}
@media all and (max-width: 991px){
    .article .main-text-content h1 {font-size: 40px;}
    .article .main-text-content h2 {font-size: 36px;}
    .article .main-text-content h3 {font-size: 32px;}
    .article .main-text-content h4 {font-size: 28px;}
    .article .main-text-content h5 {font-size: 24px;}
    .article .main-text-content h6 {font-size: 20px;}
}
@media all and (max-width: 767px){
    .article {padding-top: 60px; padding-bottom: 10px;}
    .article .main-text-content h1 {font-size: 32px;}
    .article .main-text-content h2 {font-size: 28px; margin-top: 10px; margin-bottom: 20px;}
    .article .main-text-content h3 {font-size: 24px;}
    .article .main-text-content h4 {font-size: 20px;}
    .article .main-text-content h5 {font-size: 16px;}
    .article .main-text-content h6 {font-size: 12px;}
    .article .main-text-content blockquote {padding: 18px 20px; font-size: 16px; line-height: 160%;}
    .article .main-text-content p {font-size: 16px; line-height: 160%;}
    .article .main-text-content img {margin: auto; display: block;}
}


.breadcrumb {margin-bottom: 25px;}
.breadcrumb .breadcrumb-item {font-weight: 500; font-size: 16px; line-height: normal; min-width: 120px; background-color: #F2FAFD; border-radius: 5px; text-align: center; padding: 10px;}
.breadcrumb .breadcrumb-item:not(:last-child) {margin-right: 10px;}
.breadcrumb .breadcrumb-item:nth-child(1) {color: #1A80A6; background-color: #F2FAFD;}
.breadcrumb .breadcrumb-item:nth-child(1) a {color: #1A80A6;}
.breadcrumb .breadcrumb-item:nth-child(2) {color: #6D459C; background-color: #FAF5FF;}
.breadcrumb .breadcrumb-item:nth-child(2) a {color: #6D459C;}
.breadcrumb .breadcrumb-item:nth-child(3) {color: #FFA563; background-color: #FFF9F5;}
.breadcrumb .breadcrumb-item:nth-child(3) a {color: #FFA563;}
.breadcrumb .breadcrumb-item:nth-child(4) {color: #778783; background-color: #EEFEFA;}
.breadcrumb .breadcrumb-item:nth-child(4) a {color: #778783;}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {content: "";}
@media all and (max-width: 767px){
    .breadcrumb .breadcrumb-item {font-size: 14px; min-width: auto;}
}

.article__content-title {font-weight: bold; font-size: 18px !important; line-height: 170%; letter-spacing: -0.005em; color: #000000;}
.article__content-link {display: block; font-weight: normal; font-size: 16px; line-height: 170%; letter-spacing: -0.01em; color: #000000;}
.article__content-link:hover {color: #6D459C;}
.article__content-link:active,
.article__content-link:focus {color: #6D459C;}
.article__info {display: block; position: relative; font-weight: normal; font-size: 14px; line-height: 170%; letter-spacing: -0.005em; color: #494949;}
.article-info-box > .article__info:first-child:after {content: ""; position: absolute; right: -10px; top: 3px; display: block; width: 1px; height: 15px; background-color: #969696;}
.article-collapse-btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    background-color: #fff;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 14px 20px;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    color: #000;
}
.article-collapse-btn:after {content: url(../icons/collapse-arrow-up.svg); display: block; width: 13px;}
.article-collapse-btn.collapsed:after {transform: rotate(180deg);}
.article-collapse-btn + .collapse {margin-bottom: 12px;}
@media all and (max-width: 767px){
    /*.article-subtitle {font-size: 28px; line-height: 125%;}*/
    /*.article__numeric-title {font-size: 20px; line-height: 170%;}*/
}

