.breadcrumb,
.article__content-link,
.article__info,
.article__numeric-title,
.article-content__open-tab-btn,
.article-author__open-tab-btn {font-family: 'Airbnb Cereal App'; font-style: normal;}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6,
.article-subtitle {font-family: 'PT Serif'; font-style: normal;}

.site-header {position: inherit;}

.article {padding-top: 115px; padding-bottom: 50px;}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {font-weight: bold;}
.article h1 {font-size: 48px;}
.article h2 {font-size: 40px; margin-top: 50px; margin-bottom: 30px;}
.article h3 {font-size: 32px;}
.article h4 {font-size: 24px;}
.article h5 {font-size: 16px;}
.article h6 {font-size: 10px;}
.article img {border-radius: 10px;}
.article p {font-size: 18px; line-height: 170%; letter-spacing: -0.005em;}
.article blockquote {background-color: #F8F7FF; padding: 30px 35px; margin-bottom: 30px; border: 1px dashed #6D459C; border-radius: 10px; font-weight: 500; font-size: 18px; line-height: 170%; letter-spacing: -0.005em; color: #6D459C;}
.article blockquote p:last-child {margin: 0;}
.article ol:not(.breadcrumb) {list-style: decimal; padding-left: 18px;}
.article ol.big {font-size: 25px; line-height: 170%; padding-left: 25px;}
.article ol.big li::marker {font-weight: 500;}
.article ol.big blockquote {margin-top: 20px;}
.article ul {padding: 0;}
.article ul li {background: transparent url(../icons/list.svg) no-repeat 0 4px; padding-left: 30px; margin-bottom: 8px;}
@media all and (max-width: 767px){
    .article h2 {font-size: 28px; margin-top: 10px; margin-bottom: 20px;}
    .article blockquote {padding: 18px 20px; font-size: 16px; line-height: 160%;}
    .article p {font-size: 16px; line-height: 160%;}
}


.breadcrumb {margin-bottom: 25px;}
.breadcrumb .breadcrumb-item {font-weight: 500; font-size: 16px; line-height: normal; min-width: 120px; background-color: #F2FAFD; border-radius: 5px; text-align: center; padding: 10px;}
.breadcrumb .breadcrumb-item:not(:last-child) {margin-right: 10px;}
.breadcrumb .breadcrumb-item:nth-child(1) {color: #1A80A6; background-color: #F2FAFD;}
.breadcrumb .breadcrumb-item:nth-child(1) a {color: #1A80A6;}
.breadcrumb .breadcrumb-item:nth-child(2) {color: #6D459C; background-color: #FAF5FF;}
.breadcrumb .breadcrumb-item:nth-child(2) a {color: #6D459C;}
.breadcrumb .breadcrumb-item:nth-child(3) {color: #FFA563; background-color: #FFF9F5;}
.breadcrumb .breadcrumb-item:nth-child(3) a {color: #FFA563;}
.breadcrumb .breadcrumb-item:nth-child(4) {color: #778783; background-color: #EEFEFA;}
.breadcrumb .breadcrumb-item:nth-child(4) a {color: #778783;}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {content: "";}


.article__content-title {font-weight: 500; font-size: 18px; line-height: 170%; letter-spacing: -0.005em; color: #000000;}
.article__content-link {display: block; font-weight: normal; font-size: 16px; line-height: 170%; letter-spacing: -0.01em; color: #000000;}
.article__content-link:hover {color: #6D459C;}
.article__content-link--active {color: #6D459C;}
.article__info {display: block; position: relative; font-weight: normal; font-size: 14px; line-height: 170%; letter-spacing: -0.005em; color: #494949;}
.article-info-box>.article__info:first-child:after {content: ""; position: absolute; right: -10px; top: 3px; display: block; width: 1px; height: 15px; background-color: #969696;}
.article-subtitle {font-weight: bold; font-size: 40px; line-height: 135%; letter-spacing: -0.005em; color: #000000;}
.article__numeric-title {font-weight: 500; font-size: 25px; line-height: 170%; letter-spacing: -0.005em; color: #000000;}
.article-content__open-tab-btn,
.article-author__open-tab-btn {width: 100%; max-width: 320px; height: 45px; background-color: #FFF; border: 1px solid #D3D3D3; border-radius: 5px; padding: 0 20px; font-weight: 500; font-size: 15px; line-height: 170%; letter-spacing: -0.01em; color: #000;}
.article-content__open-tab-btn--active > img,
.article-author__open-tab-btn--active > img {transform: rotate(180deg);}
.article-content__open-tab-btn--active + .article-content__body {display: block !important;}
.article-author__open-tab-btn--active + .article-author__body {display: block !important;}
@media all and (max-width: 767px){
    .article {padding-top: 60px; padding-bottom: 10px;}
    .article-subtitle {font-size: 28px; line-height: 125%;}
    .article__numeric-title {font-size: 20px; line-height: 170%;}
    .article img {margin: auto; display: block;}
}
