body {margin-top: 110px;}
@media all and (max-width: 767px){
	body {margin-top: 65px;}
}

.card-box .title,
.similar-offers__subtitle,
.article__title,
.elmcroft-title,
.similar-offers__title,
.features-item__title,
.tabs-item__title,
.listing-tab-content .name {font-family: 'PT Serif'; font-style: normal;}

.card-box,
.individual-listing__subtitle,
.add-to-favorite-btn,
.action-btn,
.individual-listing__pricing-title,
.contract-info-list > li > a,
.contract-info__text,
.similar-offers__text,
.similar-offers__adress,
.features-item__show-more-btn,
.elmcroft__address,
.tabs__header,
.tabs__link,
.mob-to-fav-float {font-family: 'Airbnb Cereal App'; font-style: normal;}

h1.main-title {margin: 0; line-height: 1.1;}

.individual-listing.section-1 {padding: 100px 0 0;}
.individual-listing.section-2 {padding: 45px 0 100px;}
.individual-listing.section-3 {padding: 60px 0; background: linear-gradient(180deg, #e1f3ff 7.86%, rgba(216, 206, 255, 0.3) 100%);}
.individual-listing__rating-box {width: 48px; height: 24px; box-shadow: 0 1px 7px rgba(66, 96, 123, 0.16); border-radius: 132px; font-size: 13px; line-height: 17px;}
.individual-listing__subtitle {font-weight: 300; font-size: 16px; line-height: normal; color: #484848;}
.individual-listing .tags a {text-decoration: none; font-weight: 500; display: inline-block;}
.individual-listing .tags a:not(:last-child):after {content: ",";}

.action-btn {display: flex; justify-content: center; align-items: center; width: 110px; height: 45px; border: 1px solid #c0c0c0; box-sizing: border-box; border-radius: 5px; background-color: #fff; font-weight: 300; font-size: 16px; line-height: 21px; color: #000; text-decoration: none; margin-right: 16px;}
.action-btn:last-child {margin-right: 0;}
.action-btn > i {margin-right: 5px;}
.action-btn:hover {color: #6D459C; border-color: #6D459C;}

.add-to-favorite-btn {position: relative; top: auto; left: auto;}
.actions__toggle {cursor: pointer;}
.actions__toggle span {/*position: absolute; right: 26px;*/}
.actions__toggle > i {/*position: absolute; z-index: 0; left: 22px;*/ width: 16px; height: 16px; line-height: 1; margin-right: 5px;}
.actions__toggle > i.check {color: #6D459C;}
.actions__toggle input[type=checkbox] {width: 100%; height: 100%; opacity: 0; margin: 0; position: absolute; z-index: 1; cursor: pointer;}
.actions__toggle input[type=checkbox] ~ i.check {opacity: 0; display: none;}
.actions__toggle input[type=checkbox] ~ i.uncheck {opacity: 1; display: block;}
.actions__toggle input[type=checkbox]:checked ~ i.uncheck {opacity: 0; display: none;}
.actions__toggle input[type=checkbox]:checked ~ i.check {opacity: 1; display: block;}

.actions__toggle.mob-to-fav-float {position: fixed; z-index: 1; bottom: -50px; right: 30px; width: auto; height: auto; background-color: #6D459C; border-radius: 25px; box-shadow: 0 0 20px -5px rgba(0,0,0,0.5);}
.actions__toggle.mob-to-fav-float:hover {background-color: #8859EC;}
.actions__toggle.mob-to-fav-float.view {bottom: 30px;}
.actions__toggle.mob-to-fav-float a {display: block; width: 100%; margin: 0; position: relative; z-index: 1; color: #fff; padding: 10px 40px 12px 15px; text-align: left; font-size: 13px; line-height: 1; text-decoration: none;}
.actions__toggle.mob-to-fav-float i {right: 15px; left: auto; top: auto; font-size: 22px; width: 20px; height: 20px; color: #fff; position: absolute; margin: 0;}
.actions__toggle.mob-to-fav-float a:not(.checked)  ~ i.check {opacity: 0;}
.actions__toggle.mob-to-fav-float a:not(.checked)  ~ i.uncheck {opacity: 1;}
.actions__toggle.mob-to-fav-float a.checked  ~ i.uncheck {opacity: 0;}
.actions__toggle.mob-to-fav-float a.checked  ~ i.check {opacity: 1;}

.individual-listing__pricing-contact-btn {max-width: 190px; font-size: 16px;}

.individual-listing__pricing-title {font-weight: 500; font-size: 20px; line-height: 24px; letter-spacing: -0.005em; color: #726b6b; text-align: right;}
.article-box {position: relative; overflow: hidden; padding-bottom: 40px !important;}
.article-box--active {height: 100%; padding-bottom: 0;}
.article-box--active > .article-box__read-more-btn {display: none;}
#show-more-content {display: block;}
.article-box__read-more-btn {display: none; position: absolute; bottom: 5px; left: 50%; transform: translateX(-50%); cursor: pointer;}


.card-box {letter-spacing: -0.005em; font-size: 16px; font-weight: 300; color: #5A5A5A; background-color: #fff; box-shadow: 0 20px 25px rgba(22, 37, 51, 0.05); border-radius: 10px; padding: 35px; margin-bottom: 40px;}
.card-box * {transition: all 0.2s ease;}
.card-box .title {font-weight: 700; font-size: 25px; line-height: 33px; margin-bottom: 10px; color: #000;}
.card-box.big .title {font-size: 30px; line-height: 40px; margin-bottom: 25px;}
.card-box .subtitle {font-size: 16px; line-height: 26px;}
.card-box .icon-wrapp {padding: 0; flex: 0 0 40px; display: flex; align-items: center; justify-content: center;}
.card-box .contact-info-items li {display: flex; flex-flow: row nowrap; align-items: center; margin-bottom: 20px; line-height: normal;}
.card-box .contact-info-items li a.item {color: #3F3F3F; text-decoration: none;}
.card-box p {line-height: 26px;}
.card-box p:last-child {margin: 0;}
.card-box blockquote {padding-left: 20px; border-left: 1px solid #797575;}
.card-box .address {font-size: 18px; color: #3F3F3F; display: flex;}

.contract-info-list > li > a {font-weight: 300; font-size: 18px; line-height: 26px; letter-spacing: -0.01em; color: #3f3f3f !important;}
.community-website-icon {font-size: 20px;}
.community-website-icon:before {color: var(--bs-brand) !important;}
.similar-offers__title {font-weight: bold; font-size: 25px; line-height: 33px; color: #000;}
.similar-offers__subtitle {font-weight: bold; font-size: 20px; line-height: 132%; letter-spacing: -0.005em; color: #000;}
.contract-info__text,
.similar-offers__text {font-weight: 300; font-size: 16px; line-height: 26px; letter-spacing: -0.005em; color: #5a5a5a;}
.similar-offers__adress {font-weight: 300; font-size: 17px; line-height: 135%; letter-spacing: -0.005em; color: #5a5a5a;}
.article__title,
.elmcroft-title {font-weight: bold; font-size: 30px; line-height: 40px; color: #000;}
.features-item__title {font-weight: bold; font-size: 24px; line-height: 32px; color: #6d459c;}
.features-item__show-more-btn {width: 130px; height: 45px; border: 1px solid #d3d3d3; border-radius: 8px; background-color: #fff; font-weight: 500; font-size: 16px; line-height: 25px; text-align: center; color: #5a5a5a;}
.elmcroft__box * li {width: 210px; margin-bottom: 10px;}
.elmcroft__map {height: 525px;}
.elmcroft__map > iframe {width: 100%; height: 100%;}
.elmcroft__address {font-weight: 300; font-size: 18px; line-height: 26px; letter-spacing: -0.01em; color: #3f3f3f;}
.elmcroft-box-calc {height: 100%;}
.tabs__header {border-bottom: 1px solid #000; height: 36px; font-weight: 500; font-size: 16px; line-height: 26px; color: #000;}
.contract-info-list--icon {width: 40px;}

/* TABS */
.tabs {}
.tabs__nav {border-bottom: 1px solid #d2d2d2; margin-bottom: 40px;}
.tabs__link {font-weight: 500; font-size: 18px; line-height: 26px; color: #5a5a5a; text-decoration: none; margin-right: 30px; padding-right: 20px; display: inline-block; height: 35px;}
.tabs__link_active {position: relative; color: var(--bs-brand);}
.tabs__link_active:after {content: ""; height: 2px; width: 100%; background-color: var(--bs-brand); position: absolute; bottom: -1px; left: 0;}
.tabs__link:not(.tabs__link_active):hover,
.tabs__link:not(.tabs__link_active):focus {color: var(--bs-brand);}
.tabs__content {}
.tabs__pane {display: none;}
.tabs__pane_show {display: block;}
.tabs-item {position: relative; overflow: hidden;}
.tabs-item:after {content: url("./img/divider.png"); position: absolute; bottom: 0; left: 0;}
.tabs-item:last-child::after {content: none;}
.tabs-item__title {font-weight: bold; font-size: 22px; line-height: 29px; letter-spacing: -0.005em; color: #000;}
@media all and (max-width: 1199px){
	.card-box {padding: 35px 25px; margin-bottom: 45px;}
}
@media all and (max-width: 767px){
	.individual-listing.section-1 {padding: 60px 0 0;}
	.individual-listing.section-2 {padding: 25px 0;}
	.individual-listing.section-3 {padding: 25px 0;}

	h1.main-title {line-height: 42px; font-size: 32px;}

	.contract-info-list > li > a {font-size: 16px;}
	.article__title,
	.elmcroft-title {font-size: 27px; line-height: 36px;}
	.elmcroft__box * li {font-size: 15px; line-height: 20px;}
	.features-item__title {font-size: 22px; line-height: 29px;}
	.tabs-item__title {font-size: 15px; line-height: 140%;}
	.tabs__link {margin-right: 10px; padding-right: 5px; font-size: 16px; line-height: 26px;}
	.elmcroft__map {height: 265px;}
	#show-more-content {display: none;}
	.article-box__read-more-btn {display: block;}

	.individual-listing__subtitle i {display: none;}
	.individual-listing__subtitle {flex-flow: column;}
	.individual-listing .tags a {display: inline;}
	.individual-listing__pricing-title {font-size: 18px;}
	.individual-listing__pricing-contact-btn {max-width: 164px; font-size: 14px; height: 40px;}

	.card-box {padding: 25px; margin-bottom: 30px;}
	.card-box .short-content {overflow: hidden; height: 240px; position: relative;}
	.card-box .short-content.expand {height: auto;}
	.card-box .short-content:after {content: ""; position: absolute; bottom: 0; height: 30px; width: 100%; display: block; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 80%);}
	.card-box .short-content.expand:after {background: transparent;}
	.card-box .read-more {color: #000; font-weight: 500;}
	.card-box .read-more i {font-size: 22px; margin-right: 15px; line-height: 1;}
	.card-box .read-more:hover {color: var(--bs-brand);}

}

/* USE CSS for Slider */
.gallery-detail {/*padding: 15px;*/}
.gallery-slider .slider.slider-for {/*overflow: hidden;*/}
.gallery-slider .slider.slider-nav {/*overflow: hidden; max-height: 500px;*/}
.slider-nav .slick-slide .thumbnail-image .thumbImg {padding: 8px;}
.slider-gallery-image img {border-radius: 10px;}
.slider-nav .slick-slide .thumbnail-image .thumbImg img {border-radius: 10px; border: 4px solid #fff; transition: all .2s ease; box-shadow: none;}
.slider-nav .slick-slide .thumbnail-image .thumbImg:hover img {box-shadow: 0 0 8px rgba(15, 29, 45, 0.21);}
.slider-nav .slick-list {margin: 0 -8px;}
.slick-arrow {z-index: 1; width: auto; height: auto;}
.slick-arrow:before {font-size: 30px;}
.slick-prev {left: 15px;}
.slick-next {right: 15px;}
@media all and (min-width : 992px){
	.gallery-detail .gallery-slider {/*display: flex; flex-flow: row nowrap; align-items: center;*/}
	.gallery-slider .slider.slider-for {/*width: 80%; padding-right: 30px;*/}
	.gallery-slider .slider.slider-nav {/*width: 20%;*/}
	.gallery-slider .slider.slider-for .slick-track {/*display: flex; align-items: center;*/}
	.gallery-slider .slider.slider-for,
	.gallery-slider .slider.slider-for .slick-track {/*max-height: 420px;*/}
}
@media all and (min-width: 1200px){
	.gallery-slider .slider.slider-for,
	.gallery-slider .slider.slider-for .slick-track {/*max-height: 500px;*/}
}
@media all and (min-width: 1400px){
	.gallery-detail {/*padding: 30px;*/}
}
@media all and (max-width : 991px){
	.gallery-slider .slider.slider-nav {/*height: auto; max-height: none;*/}
	.slider.slider-nav.thumb-image {white-space: nowrap;}
	.gallery-slider .slider .slick-prev {left: 20px;}
	.gallery-slider .slider .slick-next {right: 20px;}
	.gallery-slider .slider.slider-for,
	.gallery-slider .slider.slider-for .slick-track {/*max-height: 520px; overflow: hidden;*/}
}
@media all and (max-width: 767px){
	.gallery-detail {margin: 0 -12px; overflow: hidden;}
	.gallery-slider .slider.slider-for,
	.gallery-slider .slider.slider-for .slick-track {/*max-height: 480px;*/}
	.slider-gallery-image img {border-radius: 0;}
	.slider-nav .slick-list {margin: 0;}
}
@media all and (max-width: 578px){
	.slider-nav .slick-slide .thumbnail-image .thumbImg {/*height: 90px;*/}
}
@media all and (max-width: 575px){
	.gallery-slider .slider.slider-for,
	.gallery-slider .slider.slider-for .slick-track {/*max-height: 350px;*/}
}
@media all and (max-width: 480px){
	.gallery-slider .slider.slider-for,
	.gallery-slider .slider.slider-for .slick-track {/*max-height: 290px;*/}
}
@media all and (max-width : 360px){
	.gallery-slider .slider.slider-for,
	.gallery-slider .slider.slider-for .slick-track {/*max-height: 210px;*/}
	.gallery-slider .slider.slider-nav {display: none;}
}
@media print {
	.gallery-detail .gallery-slider {/*justify-content: center; text-align: center;*/}
	.gallery-slider .slider.slider-for {width: 100%; padding-right: 0; text-align: center; margin-left: auto; margin-right: auto;}
	.gallery-slider .slider.slider-for div {text-align: center; margin-left: auto; margin-right: auto;}
}
/* End USE CSS for Slider */

#infowindow-content {}
#infowindow-content #place-icon {float: left; margin-right: 10px; height: 32px; width: auto;}
#infowindow-content #place-name {font-weight: bold;}
#map_constructor {height: 525px; width: 100%; border: 1px solid #d2d6de; border-radius: 5px; overflow: hidden;}
#map_constructor *:focus {outline: none !important;}
.maps-canvas {width: 100%; height: 100%;}
@media all and (max-width: 767px){
	#map_constructor {height: 270px;}
}


.features {display: flex; flex-flow: row wrap; justify-content: space-between;}
.features .group {margin-bottom: 30px;}
.features.icons .group {width: 48%;}
.features.cols .group {width: 100%;}
.features .group .title {margin: 0 0 25px; font-size: 24px; color: #6D459C;}
.features .list {padding: 0; margin: 0; list-style: none; display: flex;}
.features .list li {font-size: 16px; color: #454545; display: flex;}
.features .list li i {color: #6D459C; margin-right: 10px;}
.features.cols .list {margin: 0 -5px;}
.features.cols .list {flex-flow: row wrap;}
.features.cols .list li {width: 33.33%; padding: 5px;}
.features.icons .list {flex-flow: column;}
.features.icons .list li {display: flex; flex-flow: row nowrap; align-items: center; padding: 5px 0; margin: 0 0 5px;}
.features.icons .list li i {font-size: 30px; margin-right: 10px;}
.features .group.less .list {overflow: hidden; max-height: 64px;}
.features .group:not(.less) .list {max-height: 2000px;}
.features .show-more-less {width: 130px; display: block; text-decoration: none; padding: 9px; border: 1px solid #D3D3D3; border-radius: 8px; background-color: #fff; font-weight: 500; font-size: 16px; line-height: 25px; text-align: center; color: #5A5A5A;}
@media all and (max-width: 575px){
	.features.cols {/*margin: 0 -10px;*/}
	.features.cols .group {/*width: 50%; padding: 0 10px;*/}
	.features.cols .list li {width: 100%;}
}
@media all and (max-width: 375px){
	.features.icons .group {width: 100%;}
}


.customer-addresses-form .list-item {padding: 15px 0; border-bottom: 1px dashed #ADADAD;}
.customer-addresses-form .list-item:last-child {border: 0;}
.customer-addresses-form .labels {display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between;}
.customer-addresses-form .form-btns {display: flex; flex-flow: row nowrap; justify-content: space-between;}
.customer-addresses-form .form-btns .btn.primary {margin-right: 10px;}
.customer-addresses-form .form-control {margin-bottom: 14px; padding: 16px 20px; line-height: 1; font-size: 16px; color: #555;}
.customer-addresses-form .list-item .btn-distance-indigo {width: 130px;}
.customer-addresses-form .list-item .btn-current-address {position: absolute; top: 0; left: 0; margin: auto; display: flex; flex-flow: row nowrap; width: 100%; height: 100%; opacity: 0; background-color: #fff; border-radius: 5px; padding: 8px; align-items: center; justify-content: space-between;}
.customer-addresses-form .list-item .btn-current-address a {display: block; padding: 10px 5px; font-size: 12px; font-weight: 300; line-height: 1; text-decoration: none; color: #6D459C;}
.customer-addresses-form .list-item .btn-current-address i {margin-right: 2px;}
.customer-addresses-form .list-item .labels:hover .btn-current-address {opacity: 1;}
.customer-addresses-form .list-item .name {font-weight: 700;}
.customer-addresses-form .list-item .location {font-size: 13px;}
.customer-addresses-form .distance-label-preview:empty {display: none;}
.customer-addresses-form .btn-current-address-cancel {display: block; padding: 10px 5px; font-size: 12px; font-weight: 300; line-height: 1; text-decoration: none; color: #6D459C; position: absolute; right: 0;}
@media all and (max-width: 991px) and (min-width: 768px), all and (max-width: 375px){
	.customer-addresses-form .labels {flex-direction: column; align-items: baseline;}
	.customer-addresses-form .list-item .btn-distance-indigo {margin-left: 0; margin-top: 5px; align-self: flex-end;}
	.customer-addresses-form .form-btns {flex-direction: column;}
	.customer-addresses-form .form-btns .btn.primary {margin-right: 0; margin-bottom: 10px;}
}

.listing-nav-tabs {margin-bottom: 25px; font-size: 18px;}
.listing-nav-tabs li .nav-link {background-color: transparent; border-radius: 0; border-width: 0 0 2px 0; padding: 5px 14px 14px; font-weight: 500; white-space: nowrap; color: #5A5A5A;}
.listing-nav-tabs li:first-child .nav-link {padding-right: 28px; padding-left: 0;}
.listing-nav-tabs .nav-link:hover,
.listing-nav-tabs .nav-link.active {border-color: #6D459C; color: #6D459C;}
.listing-nav-tabs li .dropdown-menu .nav-link {display: block; width: 100%; text-align: left; padding: 5px 10px;}
.listing-tab-content .btn-distance-gray {margin-left: auto;}
.listing-tab-content .name {font-weight: 700; font-size: 22px; margin-bottom: 16px;}
.listing-tab-content .address {font-size: 18px; line-height: 26px; letter-spacing: -0.01em; color: #3F3F3F; max-width: 270px;}
.listing-tab-content .address i {color: #7D7D7D;}
.listing-tab-content thead tr th {padding: 10px;}
.listing-tab-content thead tr th:first-child {padding-left: 0; text-align: left;}
.listing-tab-content thead tr th:last-child {padding-right: 0; text-align: right;}
.listing-tab-content tbody tr td {padding: 26px 10px; border-style: dashed; border-color: #ADADAD; vertical-align: middle;}
.listing-tab-content tbody tr td:first-child {padding-left: 0; text-align: left;}
.listing-tab-content tbody tr td:last-child {padding-right: 0; width: 130px; text-align: right;}
.listing-tab-content tbody tr:last-child td {border-color: transparent;}
.listing-tab-content tbody tr:hover .btn-distance-gray {background-color: #6D459C; background-image: url(../icons/compass-white.svg); color: #fff; border-color: #6D459C;}
.listing-tab-content tbody tr:hover .name,
.listing-tab-content tbody tr:hover .address i {color: #6D459C;}
@media all and (min-width: 768px){
	.listing-tab-content .table thead {display: none;}
}
@media all and (max-width: 767px){
	.listing-tab-content .name {font-weight: 400; font-size: 15px; margin-bottom: 0;}
	.listing-tab-content tbody tr td {padding: 20px 10px;}
	.listing-tab-content tbody tr td:last-child {width: auto;}
	.listing-tab-content .address {display: none;}
	.listing-tab-content .btn-distance-gray {padding: 7px 14px; background-image: none; text-align: center; white-space: nowrap; max-width: 90px;}
	.listing-tab-content tbody tr:hover .btn-distance-gray {background-image: none;}
}


