.content-library {padding-top: 110px; background: linear-gradient(180deg, #E1F3FF 7.86%, rgba(216, 206, 255, 0.3) 109.88%);}
.content-library__body {padding-top: 100px; padding-bottom: 60px;}
.latest-articles__row-title {font-family: 'PT Serif'; font-style: normal; font-weight: bold; font-size: 40px; line-height: normal; color: #000; margin: 0;}

@media all and (max-width: 767px){
    .content-library {padding-top: 0;}
    .content-library__body {padding-top: 65px; padding-bottom: 30px;}
    .latest-articles__row-title {font-size: 28px;}
}
