.related-article-card__title {font-family: 'Airbnb Cereal App'; font-style: normal;}

.highlighted-title {font-family: 'PT Serif'; position: relative; font-weight: bold; font-size: 25px; line-height: 170%; letter-spacing: -0.005em; color: #000; padding-left: 30px;}
.highlighted-title:before {content: ""; position: absolute; left: 0; top: 10px; width: 4px; height: 25px; background-color: #6d459c;}

.related-article-card .image {border-radius: 10px; overflow: hidden; padding-top: 67%; position: relative;}
.related-article-card .image img {
	position: absolute;
	z-index: 0;
	top: -50%;
	bottom: -50%;
	left: -50%;
	right: -50%;
	margin: auto;
	width: auto;
	min-height: 100%;
	min-width: 100%;
	height: fit-content;
	object-fit: cover;
}

.related-article-card__title {font-weight: 500; font-size: 22px; line-height: normal; color: #000; transition: all .15s ease;}
.related-article-card__title:hover {text-decoration: underline; color: var(--bs-brand);}
.related-article__link {background-color: #fff !important; border: 1px solid #6d459c !important; color: #141414 !important; transition: all .1s ease-in;}
.related-article__link:hover {background-color: var(--bs-brand) !important; color: #fff !important;}

.author img {width: 25px; height: 25px;}
.author a {font-family: 'Airbnb Cereal App Book'; font-size: 14px; text-decoration: none; color: #000;}
.author a:hover {color: var(--bs-brand);}
